@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:ital,wght@1,300&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    color: #E57A44;
    font-family: Lato, Arial, Helvetica, sans-serif;
}

#header-color {
    background-color:#E5E7E6;
    overflow: hidden;
}

#logo {
    float: left;
    font-size: 220%;
    color: #FC7A57;
    padding-left: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#menu {
    letter-spacing: 2px;
    font-size: 120%;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    margin-right: 50px;
    list-style-type: none;
}

#menu a {
    color: inherit;
    text-decoration: none;
}

#menu a:hover {
    border-bottom: 1px solid black;
    background-color: whitesmoke;
}

.active {
    border-bottom: 1px solid black;
}
.presentation {
    padding-bottom: 4.5rem;
    position: relative;
}

.cover-text {
    text-align: right;
    font-size: 2em;
    color: #FC7A57;
    margin-bottom: 10px;
    margin-top: 70px;
    margin-right: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#cover-image {
    background: url("../images/logo.jpg") no-repeat center center;
    height: 400px;
    width: 100%;
    padding-top: 20px;
    background-size: cover;
    overflow: hidden;
}

#main-text {
    width: 100%;
    height: auto;
    margin-top: 5px;
    border: 1px solid black;
}

#model-image-text {
    background: url("../images/model.jpeg") no-repeat center center;
    opacity: .7;
    height: 50vh;
    width: 50%;
    background-size: cover;
    float: left;
}

#headshot-image-text {
    background: url("../images/headshot.jpeg") no-repeat center center;
    height: 50vh;
    width: 50%;
    background-size: cover;
    float: right;
}

.image-text {
    text-transform: none;
    text-align: center;
    color: #FC7A57;
    margin-top: 30px;
    text-transform: uppercase;
}

.link {
    text-decoration: none;
    color: inherit;
}

.text {
    margin-top: 20px;
    margin-left: 40px;
    width: 80%;
    text-align: center;
    color: inherit;
    float: center;
}

.footer {
    clear: both;
    width: 100%;
    height: 4.5rem;
    text-align: center;
    color: #777777;
    background-color: #E5E7E6;
}


.footer li {
    display: inline;
    margin: 100px;
}

.footer p {
    font-size: 150%;
    columns: #777777;
}

.footer i {
    font-size: 100%;
    margin: 3px;
    padding: 4px;
    color: black;
}
@media screen and (max-width: 924px) {
    .presentation {
        flex-direction: column;
    }
    #header-color {
        height: 20vh;
    }
    #logo {
        font-size: 20px;
        margin-bottom:5px; 
    }
    #menu li {
        text-align: center;
        font-size: 15px;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 0px;

    }
    #cover-image {
        text-align: left;
        margin-top: 10px;
    }
    .cover-text {
        font-size: 18px;
        
    }
    .image-text {
        font-size: 15px;
    }
    .text {
        font-size: 15px;
        margin-top: 10px;
        margin-left: 5px;
        width: 90%;
        height: 90%;
        text-align: center;
        float: left;

    }
    .footer {
        font-size: 10px;
        text-align: center;
        margin: auto;
    }
    .footer i {
        text-align: center;
        font-size: 130%;
        margin: 1px;
        padding: 1px;
    }
    .footer li {
        display: inline;
        margin: 40px;
    }
}